---
# yaml-language-server: $schema=https://json.schemastore.org/helmfile

bases:
  - base.yaml

releases:
  # ATTENTION: This is a special release to create namespaces.
  # It's not possible to set release namespaces as this would try to change all the Namespace
  # resources existing in the release to defined one, causing conflicts.
  # I will look for a better solution in the future to this issue
  - name: special-namespaces
    chart: ../applications/00-special-namespaces
    installed: true

  - name: metrics-server
    namespace: metrics-server
    chart: metrics-server/metrics-server
    version: 3.12.1
    values:
      - ../applications/metrics-server/values.yaml
    installed: true

  ###########################################################
  ## PERSISTENCE COMPONENTS: CSI DRIVERS, SNAPSHOTS CRDS...
  ###########################################################
  - name: csi-driver-nfs
    namespace: csi-driver-nfs
    chart: csi-driver-nfs/csi-driver-nfs
    version: 4.11.0
    values:
      - ../applications/csi-driver-nfs/operator/values-global.yaml
    installed: true

  - name: csi-driver-nfs-extra
    namespace: csi-driver-nfs
    chart: ../applications/csi-driver-nfs/extra
    needs:
      - csi-driver-nfs/csi-driver-nfs
    installed: true

  - name: csi-driver-s3
    namespace: csi-driver-s3
    chart: ../applications/csi-driver-s3/operator
    values:
      - ../applications/csi-driver-s3/operator/values-global.yaml
    installed: true

  - name: csi-driver-s3-extra
    namespace: csi-driver-s3
    chart: ../applications/csi-driver-s3/extra
    needs:
      - csi-driver-s3/csi-driver-s3
    installed: true

  - name: snapshots-api
    namespace: kube-system
    chart: ../applications/snapshots-api/crds/v8.3.x
    disableValidation: true
    installed: true

  - name: volsync
    namespace: volsync
    chart: backube/volsync
    version: 0.13.0
    values:
      - ../applications/volsync/operator/values.yaml
    installed: true

  ###########################################################
  ## CREDENTIALS COMPONENTS: EXTERNAL SECRETS...
  ###########################################################
  - name: external-secrets
    namespace: external-secrets
    createNamespace: true
    chart: ../applications/external-secrets/operator
    installed: true

  - name: external-secrets-extra
    namespace: external-secrets
    chart: ../applications/external-secrets/extra
    needs:
      - external-secrets/external-secrets
    installed: true

  ###########################################################
  ## CERTIFICATES COMPONENTS: CERT MANAGER...
  ###########################################################
  - name: cert-manager
    namespace: cert-manager
    createNamespace: true
    chart: ../applications/cert-manager/operator
    values:
      - ../applications/cert-manager/operator/values-global.yaml
    installed: true

  - name: cert-manager-extra
    namespace: cert-manager
    chart: ../applications/cert-manager/extra/dns-01
    needs:
      - cert-manager/cert-manager
    installed: true

  ###########################################################
  ## NETWORKING COMPONENTS: CNI, LOAD-BALANCERS...
  ###########################################################
  - name: metallb
    namespace: metallb
    chart: ../applications/metallb/operator
    values:
      - ../applications/metallb/operator/values-global.yaml
    installed: true

  - name: metallb-extra
    namespace: metallb
    chart: ../applications/metallb/extra/kubernetes-01
    needs:
      - metallb/metallb
    installed: true

  - name: chisel-operator
    namespace: chisel-operator
    chart: oci://ghcr.io/fyralabs/chisel-operator/chisel-operator
    version: v0.7.0
    values:
      - ../applications/chisel/operator/values-global.yaml
    installed: true

  - name: chisel
    namespace: chisel
    chart: bjw-s/app-template
    version: 4.1.2
    values:
      - ../applications/chisel/instances/common.yaml
    installed: true

  ###########################################################
  ## DNS COMPONENTS
  ###########################################################
  - name: ddns-updater
    namespace: ddns-updater
    createNamespace: true
    chart: ../applications/ddns-updater/kubernetes-01
    needs:
      - external-secrets/external-secrets-extra
    installed: true

  ###########################################################
  ## ROUTING COMPONENTS: INGRESS, GATEWAYS...
  ###########################################################
  - name: istio-base
    namespace: istio
    chart: istio/base
    version: &istioVersionRef 1.26.2
    values:
      - ../applications/istio/base.yaml
    installed: true

  - name: istio-discovery
    namespace: istio
    chart: istio/istiod
    version: *istioVersionRef
    values:
      - ../applications/istio/discovery.yaml
    installed: true

  - name: istio-gateway-production
    namespace: istio
    chart: istio/gateway
    version: *istioVersionRef
    values:
      - ../applications/istio/gateway.yaml
    installed: true

  - name: gateway-api
    namespace: istio
    chart: ../applications/gateway-api/crds/v1.3.0
    disableValidation: true
    installed: true

  - name: gateway-api-extra
    needs:
      - istio/gateway-api
    namespace: istio
    chart: bjw-s/app-template
    version: 4.2.0
    values:
      - ../applications/gateway-api/extra/certificates.yaml
      - ../applications/gateway-api/extra/gateway.yaml
    installed: true
    disableValidation: true

  ###########################################################
  ## DATABASES
  ###########################################################
  - name: cloudnative-pg
    namespace: cloudnative-pg
    chart: cloudnative-pg/cloudnative-pg
    version: 0.26.0
    values:
      - ../applications/cloudnative-pg/operator/values.yaml
    installed: true

  - name: barman-cloud-plugin
    namespace: cloudnative-pg
    chart: ../applications/cloudnative-pg/barman-cloud-plugin/
    installed: true

  - name: postgres
    namespace: postgres
    chart: bjw-s/app-template
    version: 4.1.2
    values:
      - ../applications/postgres/common.yaml
      - ../applications/postgres/keycloak.yaml
      - ../applications/postgres/n8n.yaml
    installed: true

  - name: mongodb
    namespace: mongodb
    createNamespace: true
    chart: ../applications/mongodb
    values:
      - ../applications/mongodb/values-kubernetes-01.yaml
    needs:
      - external-secrets/external-secrets-extra
      - csi-driver-nfs/csi-driver-nfs-extra
    installed: true

  - name: dragonfly-operator
    namespace: dragonfly-operator
    chart: oci://ghcr.io/dragonflydb/dragonfly-operator/helm/dragonfly-operator
    version: v1.2.1
    values:
      - ../applications/dragonfly/operator/values.yaml
    installed: true

  - name: dragonfly
    namespace: dragonfly
    chart: bjw-s/app-template
    version: 4.1.2
    values:
      - ../applications/dragonfly/instances/common.yaml
      - ../applications/dragonfly/instances/n8n.yaml
    installed: true

  ###########################################################
  ## SECURITY COMPONENTS: LOGIN, OAUTH...
  ###########################################################
  - name: keycloak
    namespace: keycloak
    chart: bjw-s/app-template
    version: 4.1.2
    values:
      - ../applications/keycloak/keycloak.yaml
    installed: true

  - name: oauth2-proxy
    namespace: oauth2-proxy
    chart: oauth2-proxy/oauth2-proxy
    version: 7.12.*
    values:
      - ../applications/oauth2-proxy/oauth2-proxy.yaml
    installed: true

  ###########################################################
  ## APPLICATIONS
  ###########################################################
  - name: blocky
    namespace: blocky
    createNamespace: true
    chart: ../applications/blocky/kubernetes-01
    installed: true

  - name: homer
    namespace: homer
    chart: bjw-s/app-template
    version: 4.1.2
    values:
      - ../applications/homer/values.yaml
    installed: true

  - name: home-assistant
    namespace: home-assistant
    chart: ../applications/home-assistant/kubernetes-01
    needs:
      - cert-manager/cert-manager-extra
      - istio/gateway-api
    installed: true

  - name: jellyfin
    namespace: jellyfin
    chart: bjw-s/app-template
    version: 4.1.2
    values:
      - ../applications/jellyfin/jellyfin.yaml
    installed: true

  - name: nats
    namespace: nats
    createNamespace: true
    chart: nats/nats
    version: 1.2.5
    dependencies:
      - chart: bjw-s/app-template
        version: 4.1.2
    values:
      - ../applications/nats/kubernetes-01.yaml
    needs:
      - external-secrets/external-secrets-extra
      - csi-driver-nfs/csi-driver-nfs-extra
    installed: true

  - name: omada-controller
    namespace: omada-controller
    chart: ../applications/omada-controller/kubernetes-01
    needs:
      - cert-manager/cert-manager-extra
      - istio/gateway-api
      - external-secrets/external-secrets-extra
      - csi-driver-nfs/csi-driver-nfs-extra
    installed: true

  - name: vaultwarden
    namespace: vaultwarden
    createNamespace: true
    chart: bjw-s/app-template
    version: 4.1.2
    needs:
      - cert-manager/cert-manager-extra
      - istio/gateway-api
      - csi-driver-nfs/csi-driver-nfs-extra
    values:
      - ../applications/vaultwarden/values.yaml
    installed: true

  - name: wireguard
    namespace: wireguard
    chart: bjw-s/app-template
    version: 4.1.2
    needs:
      - csi-driver-nfs/csi-driver-nfs-extra
    values:
      - ../applications/wireguard/values.yaml
    installed: true

  - name: congatudo
    namespace: congatudo
    createNamespace: true
    chart: ../applications/congatudo/kubernetes-01
    needs:
      - cert-manager/cert-manager-extra
      - istio/gateway-api
    installed: true

  - name: hass-mcp
    namespace: hass-mcp
    chart: bjw-s/app-template
    version: 4.1.2
    values:
      - ../applications/hass-mcp/values.yaml
    installed: true

  # This is for downloading free content.
  # I don't recommend you to use this stack for violating content laws in your country.
  - name: qbittorrent
    namespace: downloads
    chart: bjw-s/app-template
    version: 4.1.2
    values:
      - ../applications/downloads/qbittorrent.yaml
    installed: true

  - name: n8n
    namespace: n8n
    chart: community-charts/n8n
    version: 1.15.20
    values:
      - ../applications/n8n/application.yaml
    dependencies:
      - chart: bjw-s/app-template
        version: 4.1.2
    skipSchemaValidation: true
    installed: true

