apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  app.kubernetes.io/name: namespaces

labels:
  - pairs:
      app.kubernetes.io/managed-by: Helm
      pod-security.kubernetes.io/enforce: privileged
    includeSelectors: false
    includeTemplates: false

commonAnnotations:
  meta.helm.sh/release-name: namespaces
  meta.helm.sh/release-namespace: default

resources:
  - csi-driver-nfs.yaml
  - csi-driver-s3.yaml
  - home-assistant.yaml
  - keycloak.yaml
  - metallb.yaml
  - n8n.yaml
  - omada-controller.yaml
  - qbittorrent.yaml
  - wireguard.yaml
