machine:
  # TODO
  certSANs:
    - kubernetes-02.internal.place
    - compute-11.internal.place
    - compute-12.internal.place

  # TODO
  install:
    disk: ${install_disk}

  # TODO
  network:
    hostname: ${hostname}



