# We are using a meta Helm chart called app-template from bwj-s.
# Reference values can be inspected there.
# Ref: https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml


defaultPodOptions:
  labels:
    sidecar.istio.io/inject: "true"

  annotations:
    sidecar.istio.io/proxyCPU: 100m
    sidecar.istio.io/proxyCPULimit: 150m
    sidecar.istio.io/proxyMemory: 200Mi
    sidecar.istio.io/proxyMemoryLimit: 200Mi

  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: ScheduleAnyway
      labelSelector:
        matchLabels:
          app.kubernetes.io/name: keycloak

  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - keycloak
            topologyKey: kubernetes.io/hostname

controllers:

  application:
    type: deployment
    replicas: 1

    labels: {}
    annotations: {}

    serviceAccount:
      name: keycloak

    containers:
      main:
        image:
          repository: quay.io/keycloak/keycloak
          tag: 26.3.1
          pullPolicy: Always

        resources:
          requests:
            memory: "4Gi"
            cpu: "1"
          limits:
            memory: "4Gi"

        args:
          - start

        env:
          - name: KC_DB_USERNAME
            valueFrom:
              secretKeyRef:
                name: database-user-credentials
                key: username

          - name: KC_DB_PASSWORD
            valueFrom:
               secretKeyRef:
                 name: database-user-credentials
                 key: password

        envFrom:
          - configMapRef:
              identifier: configuration
          - secretRef:
              name: "{{ .Release.Name }}-admin-credentials"

        probes:
          readiness:
            enabled: false
            custom: true
            spec:
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
              httpGet:
                path: /realms/master
                port: 8080

configMaps:
  configuration:
    enabled: true
    annotations: {}
    data:
      # Ref: https://www.keycloak.org/server/all-config

      # Clustering parameters
      KC_CACHE_STACK: jdbc-ping
      CACHE_OWNERS_COUNT: "3"
      CACHE_OWNERS_AUTH_SESSIONS_COUNT: "3"

      # Networking parameters
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_PROXY_HEADERS: "xforwarded"
      #KC_HOSTNAME: "https://keycloak.tools.internal.place"
      #KC_HOSTNAME_ADMIN: "https://keycloak.tools.internal.place"
      #KC_PROXY_TRUSTED_ADDRESSES: "10.0.0.0/8,0.0.0.0/8"

      # Database parameters
      KC_DB: postgres
      KC_DB_URL_HOST: "postgres-keycloak-cluster-00-rw.postgres.svc"
      KC_DB_URL_PORT: "5432"
      KC_DB_URL_DATABASE: "app"

      # Monitoring parameters
      KC_HEALTH_ENABLED: "true"
      KC_METRICS_ENABLED: "true"
      KC_LOG: console
      KC_LOG_CONSOLE_OUTPUT: json
      KC_LOG_LEVEL: info

      # Enable some preview features
      # Ref: https://www.keycloak.org/server/features
      KC_FEATURES: passkeys,quick-theme

service:
  backend:
    controller: application
    type: ClusterIP
    ports:
      http:
        port: 8080
        protocol: TCP

  jgroups:
    controller: application
    type: ClusterIP
    clusterIP: None
    ports:
      jgroups:
        port: 7800
        protocol: TCP

# JGroups need to be able to discover pods from Kubernetes
serviceAccount:
  keycloak:
    enabled: true

rbac:
  roles:
    pod-reader:
      type: Role
      rules:
        - apiGroups: [""]
          resources: ["pods"]
          verbs:
            - get
            - list
  bindings:
    pod-read:
      enabled: true
      type: RoleBinding
      roleRef:
        identifier: pod-reader
      subjects:
        - kind: ServiceAccount
          name: keycloak
          namespace: "{{ .Release.Namespace }}"

# Some stuff is not covered by this chart
rawResources:

  admin-credentials:
    enabled: true
    apiVersion: external-secrets.io/v1beta1
    kind: ExternalSecret
    spec:
      spec:
        refreshInterval: "15s"
        secretStoreRef:
          kind: ClusterSecretStore
          name: gitlab-secret-store
        target:
          name: "{{ .Release.Name }}-admin-credentials"
        data:
          - secretKey: KEYCLOAK_ADMIN
            remoteRef:
              key: KEYCLOAK_ADMIN_USERNAME

          - secretKey: KEYCLOAK_ADMIN_PASSWORD
            remoteRef:
              key: KEYCLOAK_ADMIN_PASSWORD

  internal-entrance:
    enabled: true
    apiVersion: gateway.networking.k8s.io/v1
    kind: HTTPRoute
    spec:
      spec:
        hostnames:
          - keycloak.tools.internal.place
        parentRefs:
          - group: gateway.networking.k8s.io
            kind: Gateway
            name: gateway-api-extra-gateway-production
            namespace: istio
            sectionName: https-terminate
        rules:
          - backendRefs: &mainBackendRef
              - group: ""
                kind: Service
                name: keycloak-backend
                port: 8080
                weight: 1
            matches:
              - path:
                  type: PathPrefix
                  value: /
            filters:
              - type: CORS
                cors:
                  allowOrigins: [ '*' ]
                  allowMethods: [ '*' ]
                  allowHeaders: [ '*' ]

  public-entrance:
    enabled: true
    apiVersion: gateway.networking.k8s.io/v1
    kind: HTTPRoute
    spec:
      spec:
        hostnames:
          - keycloak.public.internal.place
        parentRefs:
          - group: gateway.networking.k8s.io
            kind: Gateway
            name: gateway-api-extra-gateway-public
            namespace: istio
            sectionName: https-terminate
        rules:
          - backendRefs: *mainBackendRef
            matches:
              # Expose publicly only static assets and MCP-related realm
              - path:
                  type: PathPrefix
                  value: /realms/mcp-servers
              - path:
                  type: PathPrefix
                  value: /resources
            filters:
              - type: CORS
                cors:
                  allowOrigins: ['*']
                  allowMethods: ['*']
                  allowHeaders: ['*']

  # This is temporary here as a trick to preserve real-client-ip. The ideal solution is trusting CIDRs, but it requires
  # Istio be able to set 'use_remote_address: false' and ATM, it's hardcoded for the gateways:
  # Ref: https://github.com/istio/istio/blob/f772ceea87ae58896e1eabe2cf83ebfd8c54bf6d/pilot/pkg/networking/core/v1alpha3/gateway.go#L358
  preserve-client-ip:
    enabled: false
    apiVersion: networking.istio.io/v1alpha3
    kind: EnvoyFilter
    spec:
      spec:
        workloadSelector:
          labels:
            app.kubernetes.io/name: keycloak
        configPatches:
          - applyTo: NETWORK_FILTER
            match:
              context: ANY
              listener:
                filterChain:
                  filter:
                    name: envoy.filters.network.http_connection_manager
            patch:
              operation: MERGE
              value:
                typed_config:
                  '@type': type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                  xff_num_trusted_hops: 1
                  use_remote_address: true
                  skip_xff_append: false

  deny-dynamic-client-registration-from-untrusted-sources:
    enabled: true
    apiVersion: security.istio.io/v1
    kind: AuthorizationPolicy
    spec:
      spec:
        selector:
          matchLabels:
            app.kubernetes.io/name: keycloak

        action: DENY
        rules:
          - from:
              - source:
                  notRemoteIpBlocks:
                    # Kubernetes stuff
                    - 10.0.0.0/8

                    # Claude Web GUI (legacy)
                    - 34.162.102.82/32
                    - 34.162.183.95/32
                    - 34.162.142.92/32
                    - 34.162.46.92/32
                    - 34.162.136.91/32

                    # Claude Web GUI (new)
                    - 160.79.104.0/21

                    # OpenAI Web GUI
                    # Ref: https://openai.com/chatgpt-actions.json
                    # Publication date: 2025-12-12T20:06:29.604976
                    # They change frequently!
                    - 104.210.139.192/28
                    - 104.210.139.224/28
                    - 13.65.138.112/28
                    - 13.65.138.96/28
                    - 13.67.46.240/28
                    - 13.67.72.16/28
                    - 13.70.107.160/28
                    - 13.71.2.208/28
                    - 13.76.115.224/28
                    - 13.76.116.80/28
                    - 13.76.32.208/28
                    - 13.79.43.0/28
                    - 13.83.237.176/28
                    - 132.196.82.48/28
                    - 135.119.134.128/28
                    - 135.119.134.192/28
                    - 135.237.133.112/28
                    - 135.237.133.48/28
                    - 137.135.183.96/28
                    - 137.135.191.176/28
                    - 172.183.143.224/28
                    - 172.204.16.64/28
                    - 172.212.159.64/28
                    - 172.213.11.144/28
                    - 172.213.21.112/28
                    - 172.213.21.144/28
                    - 191.233.196.112/28
                    - 191.234.167.128/28
                    - 191.235.98.144/28
                    - 191.237.249.64/28
                    - 20.0.53.96/28
                    - 20.102.212.144/28
                    - 20.117.22.224/28
                    - 20.125.112.224/28
                    - 20.168.7.192/28
                    - 20.168.7.240/28
                    - 20.169.72.112/28
                    - 20.169.72.96/28
                    - 20.169.78.48/28
                    - 20.169.78.64/28
                    - 20.169.78.80/28
                    - 20.169.78.96/28
                    - 20.172.29.32/28
                    - 20.193.50.32/28
                    - 20.194.0.208/28
                    - 20.194.157.176/28
                    - 20.198.67.96/28
                    - 20.210.154.128/28
                    - 20.210.174.208/28
                    - 20.215.187.208/28
                    - 20.215.214.16/28
                    - 20.215.219.208/28
                    - 20.215.220.128/28
                    - 20.215.220.144/28
                    - 20.215.220.160/28
                    - 20.215.220.64/28
                    - 20.215.220.80/28
                    - 20.227.140.32/28
                    - 20.228.106.176/28
                    - 20.235.75.208/28
                    - 20.235.87.224/28
                    - 20.249.63.208/28
                    - 20.45.178.144/28
                    - 20.55.229.144/28
                    - 20.63.221.64/28
                    - 20.90.7.144/28
                    - 23.102.141.32/28
                    - 23.97.109.224/28
                    - 23.98.186.64/28
                    - 23.98.186.96/28
                    - 4.151.119.48/28
                    - 4.151.71.176/28
                    - 4.196.198.80/28
                    - 4.197.115.112/28
                    - 4.197.19.176/28
                    - 4.197.64.0/28
                    - 4.197.64.48/28
                    - 4.205.128.176/28
                    - 40.67.183.160/28
                    - 40.67.183.176/28
                    - 40.84.181.32/28
                    - 44.249.227.138/32
                    - 52.148.129.32/28
                    - 52.172.129.160/28
                    - 52.173.123.0/28
                    - 52.173.234.16/28
                    - 52.173.234.80/28
                    - 52.176.139.176/28
                    - 52.190.137.144/28
                    - 52.190.137.16/28
                    - 52.190.139.48/28
                    - 52.190.142.64/28
                    - 52.231.30.48/28
                    - 52.231.39.144/28
                    - 52.231.39.192/28
                    - 52.242.132.224/28
                    - 52.242.132.240/28
                    - 52.242.245.208/28
                    - 52.252.113.240/28
                    - 52.255.109.112/28
                    - 52.255.109.128/28
                    - 52.255.109.144/28
                    - 52.255.109.80/28
                    - 52.255.109.96/28
                    - 52.255.111.0/28
                    - 52.255.111.16/28
                    - 52.255.111.32/28
                    - 52.43.161.225/32
                    - 57.154.174.112/28
                    - 57.154.187.32/28
                    - 68.154.28.96/28
                    - 68.220.57.64/28
                    - 68.221.67.160/28
                    - 68.221.67.240/28
                    - 68.221.75.16/28
                    - 74.226.253.160/28
                    - 74.249.86.176/28
                    - 74.7.35.112/28
                    - 74.7.35.48/28
                    - 74.7.36.64/28
                    - 74.7.36.80/28
                    - 74.7.36.96/28

                    # Other providers from here
                    # ...
            to:
              - operation:
                  hosts: [ "*.public.internal.place" ]
                  paths:
                    - /realms/mcp-servers/clients-registrations
                    - /realms/mcp-servers/clients-registrations/*
