# We are using a meta Helm chart called app-template from bwj-s.
# Reference values can be inspected there.
# Ref: https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml


defaultPodOptions:
  labels: {}
  annotations: {}

controllers:

  application:
    type: deployment
    replicas: 1

    labels: {}
    annotations:
      reloader.stakater.com/auto: "true"

    containers:
      main:
        image:
          repository: ghcr.io/achetronic/hass-mcp
          tag: v0.1.0
          pullPolicy: IfNotPresent
        args: [ "--config", "/config/config.yaml" ]
        ports:
          - containerPort: 8080
        envFrom:
          - configMapRef:
              identifier: config-env
          - secretRef:
              name: "{{ .Release.Name }}-hass-credentials"

persistence:
  configuration:
    enabled: true
    name: "{{ .Release.Name }}-configuration"
    type: configMap
    advancedMounts:
      application:
        main:
          - path: /config/config.yaml
            readOnly: true
            mountPropagation: None
            subPath: config.yaml

configMaps:
  config-env:
    enabled: true
    annotations: {}
    data:
      HA_URL: https://home-assistant.tools.internal.place

  configuration:
    enabled: true
    annotations: {}
    data:
      config.yaml: |
        # MCP Server Configuration
        server:
          name: "Home Assistant MCP"
          version: "0.1.0"
          transport:
            type: "http"
            http:
              host: ":8080"
        
        # Home Assistant Configuration
        home_assistant:
          url: "${HA_URL}"
          token: "${HA_TOKEN}"

        # Middleware Configuration
        middleware:
          access_logs:
            excluded_headers:
              - X-Excluded
            redacted_headers:
              - Authorization
              - X-Validated-Jwt

          jwt:
            enabled: true
            validation:
              strategy: "local"
              forwarded_header: "X-Validated-Jwt"
              local:
                jwks_uri: &JwksUri "https://keycloak.public.internal.place/realms/mcp-servers/protocol/openid-connect/certs"
                cache_interval: "10s"
                allow_conditions:
                - expression: 'has(payload.iss) && payload.iss == "https://keycloak.public.internal.place/realms/mcp-servers"'
                - expression: 'has(payload.aud) && payload.aud == "https://hass-mcp.public.internal.place/mcp"'

        # Oauth Authorization Server Configuration
        # Endpoint: /.well-known/oauth-authorization-server
        oauth_authorization_server:
          enabled: true
        
          # Following path will be attached: /.well-known/openid-configuration
          issuer_uri: "https://keycloak.public.internal.place/realms/mcp-servers"

        # Oauth Protected Resource Configuration
        # Endpoint: /.well-known/oauth-protected-resource
        oauth_protected_resource:
          enabled: true
          url_suffix: "/mcp"
        
          resource: "https://hass-mcp.public.internal.place/mcp"
          auth_servers:
            - "https://keycloak.public.internal.place/realms/mcp-servers"
          jwks_uri: *JwksUri
          scopes_supported:
            - openid
            - profile
            - email
            - hass-mcp/custom-audience

service:
  backend:
    controller: application
    type: ClusterIP
    ports:
      http:
        port: 8080
        protocol: TCP

# Some stuff that is not covered by this chart
rawResources:
  hass-credentials:
    enabled: true
    apiVersion: external-secrets.io/v1beta1
    kind: ExternalSecret
    spec:
      spec:
        refreshInterval: "15s"
        secretStoreRef:
          kind: ClusterSecretStore
          name: gitlab-secret-store
        target:
          name: "{{ .Release.Name }}-hass-credentials"
        data:
          - secretKey: HA_TOKEN
            remoteRef:
              key: HASS_MCP_HOME_ASSISTANT_TOKEN

  public-entrance:
    enabled: true
    apiVersion: gateway.networking.k8s.io/v1
    kind: HTTPRoute
    spec:
      spec:
        hostnames:
          - hass-mcp.public.internal.place
        parentRefs:
          - group: gateway.networking.k8s.io
            kind: Gateway
            name: gateway-api-extra-gateway-public
            namespace: istio
            sectionName: https-terminate
        rules:
          - backendRefs: &mainBackendRef
              - group: ""
                kind: Service
                name: hass-mcp
                port: 8080
                weight: 1
            matches:
              - path:
                  type: PathPrefix
                  value: /
