# We are using a meta Helm chart called app-template from bwj-s.
# Reference values can be inspected there.
# Ref: https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml

defaultPodOptions:
  labels: {}
  annotations: {}

controllers:
  application:
    type: deployment
    replicas: 1

    labels: {}
    annotations:
      reloader.stakater.com/auto: "true"

    containers:
      main:
        image:
          repository: ghcr.io/achetronic/hass-mcp
          tag: v0.1.1
          pullPolicy: IfNotPresent
        args: ["--config", "/config/config.yaml"]
        ports:
          - containerPort: 8080
        envFrom:
          - configMapRef:
              identifier: config-env
          - secretRef:
              name: "{{ .Release.Name }}-hass-credentials"

persistence:
  configuration:
    enabled: true
    name: "{{ .Release.Name }}-configuration"
    type: configMap
    advancedMounts:
      application:
        main:
          - path: /config/config.yaml
            readOnly: true
            mountPropagation: None
            subPath: config.yaml

configMaps:
  config-env:
    enabled: true
    annotations: {}
    data:
      HA_URL: https://home-assistant.tools.internal.place

  configuration:
    enabled: true
    annotations: {}
    data:
      config.yaml: |
        # MCP Server Configuration
        server:
          name: "Home Assistant MCP"
          version: "0.1.0"
          transport:
            type: "http"
            http:
              host: ":8080"

        # Home Assistant Configuration
        home_assistant:
          url: "${HA_URL}"
          token: "${HA_TOKEN}"

service:
  backend:
    controller: application
    type: ClusterIP
    ports:
      http:
        port: 8080
        protocol: TCP

# Some stuff that is not covered by this chart
rawResources:
  hass-credentials:
    enabled: true
    apiVersion: external-secrets.io/v1beta1
    kind: ExternalSecret
    spec:
      spec:
        refreshInterval: "15s"
        secretStoreRef:
          kind: ClusterSecretStore
          name: gitlab-secret-store
        target:
          name: "{{ .Release.Name }}-hass-credentials"
        data:
          - secretKey: HA_TOKEN
            remoteRef:
              key: HASS_MCP_HOME_ASSISTANT_TOKEN
