# Ref: https://github.com/istio/istio/blob/master/manifests/charts/gateway/values.yaml

kind: Deployment

replicaCount: &replicaCountSpec 1

labels:
  istio.io/gateway-name: public

podAnnotations:
  # FRP client has ProxyProtocol enabled for http and https ports.
  # This allows Istio to get the real client IP and put it in XFF header.
  # Ref: https://istio.io/latest/docs/ops/configuration/traffic-management/network-topologies/#proxy-protocol
  proxy.istio.io/config: '{"gatewayTopology" : { "proxyProtocol": {} }}'

# Try to soft-enforce that pods are spread across the cluster
topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: kubernetes.io/hostname
    whenUnsatisfiable: DoNotSchedule
    labelSelector:
      matchLabels:
        istio.io/gateway-name: public

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - podAffinityTerm:
        labelSelector:
          matchLabels:
            istio.io/gateway-name: public
        topologyKey: kubernetes.io/hostname
      weight: 100

podDisruptionBudget:
  maxUnavailable: 1

resources:
  requests:
    cpu: 200m
    memory: 500Mi
  limits:
    cpu: 200m
    memory: 500Mi

autoscaling:
  enabled: true
  minReplicas: *replicaCountSpec
  maxReplicas: 3
  targetCPUUtilizationPercentage: 85
  targetMemoryUtilizationPercentage: 85

service:
  type: ClusterIP
