#########################
## MAIN RESOURCES
#########################

# Ref: https://github.com/community-charts/helm-charts/blob/main/charts/n8n/values.yaml
# Ref: https://docs.n8n.io/hosting/configuration/environment-variables/

podLabels:
  sidecar.istio.io/inject: "true"

# Database configurations
db:
  type: postgresdb
  logging:
    enabled: true
    maxQueryExecutionTime: 2000

# Main node configurations
main:
  count: 1

  extraEnvVars:
    N8N_HOST: "n8n.tools.internal.place"
    N8N_PROTOCOL: "https"
    WEBHOOK_URL: "https://n8n.tools.internal.place/"
    N8N_LOG_FORMAT: "json"

  resources:
    requests:
      memory: 1Gi
    limits:
      memory: 1Gi

worker:
  mode: queue
  concurrency: 10
  count: 2
    
  resources:
    requests:
      memory: 1Gi
    limits:
      memory: 1Gi

  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - n8n-worker
            topologyKey: kubernetes.io/hostname

# Webhook node configurations
webhook:
  count: 2

  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      memory: 256Mi

# DISCLAIMER:
# This encryption key is autogenerated, so we uploaded it to Vault and retrieved it again to the cluster
# with external secrets. DON'T DELETE IT as ALL THE DATA is encrypted with it
existingEncryptionKeySecret: n8n-encryption-key

timezone: "Europe/London"
defaultLocale: es

# External Redis parameters
externalRedis:
  host: "dragonfly-n8n-cluster-00.dragonfly.svc"
  port: 6379
  existingSecret: "cache-user-credentials"

# External PostgreSQL parameters
externalPostgresql:
  host: "postgres-n8n-cluster-00-rw.postgres.svc"
  username: "app"
  port: 5432
  database: app
  existingSecret: "database-user-credentials"

#########################
## DEPENDENCIES
#########################

app-template:
  # We are using a meta Helm chart called app-template from bwj-s.
  # Reference values can be inspected there.
  # Ref: https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml

  # Some stuff is not covered by this chart
  rawResources:

    ################################
    ## N8N EXTRA
    ################################
    encryption-key:
      enabled: true
      apiVersion: external-secrets.io/v1beta1
      kind: ExternalSecret
      spec:
        spec:
          secretStoreRef: &secretStoreRefCr
            kind: ClusterSecretStore
            name: gitlab-secret-store
          target:
            name: n8n-encryption-key
          data:
            - secretKey: N8N_ENCRYPTION_KEY
              remoteRef:
                key: N8N_ENCRYPTION_KEY

    public-entrance:
      enabled: true
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      spec:
        spec:
          hostnames:
            - n8n.tools.internal.place
          parentRefs:
            - group: gateway.networking.k8s.io
              kind: Gateway
              name: gateway-api-extra-gateway-production
              namespace: istio
              sectionName: https-terminate
          rules:
            - backendRefs:
                - kind: Service
                  name: n8n
                  port: 5678
                  weight: 1
              matches:
                - path:
                    type: PathPrefix
                    value: /
