# Ref: https://www.manelrodero.com/blog/instalacion-de-hacs-en-home-assistant-docker
# Ref: https://hacs.xyz/
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: home-assistant

labels:
  - pairs:
      app.kubernetes.io/managed-by: Helm
    includeSelectors: false
    includeTemplates: false

  - pairs:
      cluster: kubernetes-01
    includeSelectors: true
    includeTemplates: true

commonAnnotations:
  meta.helm.sh/release-name: home-assistant
  meta.helm.sh/release-namespace: home-assistant

images:
  - name: ghcr.io/home-assistant/home-assistant
    newTag: "2025.12"

resources:
  - ../base
  - pvc.yml
  - configmap.yaml
  - configmap-env.yaml
  - httproute.yaml
