# We are using a meta Helm chart called app-template from bwj-s.
# Reference values can be inspected there.
# Ref: https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml

defaultPodOptions:
  labels: {}
  annotations: {}

controllers:
  application:
    type: deployment
    replicas: 1

    labels: {}
    annotations:
      reloader.stakater.com/auto: "true"

    containers:
      main:
        image:
          repository: docker-registry.tools.internal.place/twitter-mcp
          #repository: ghcr.io/achetronic/twitter-mcp
          tag: v0.2.1
          pullPolicy: IfNotPresent
        args: ["--config", "/config/config.yaml"]
        ports:
          - containerPort: 8080
        envFrom:
          - secretRef:
              name: "{{ .Release.Name }}-twitter-credentials"

persistence:
  configuration:
    enabled: true
    name: "{{ .Release.Name }}"
    type: configMap
    advancedMounts:
      application:
        main:
          - path: /config/config.yaml
            readOnly: true
            mountPropagation: None
            subPath: config.yaml

configMaps:
  configuration:
    enabled: true
    annotations: {}
    data:
      config.yaml: |
        # MCP Server Configuration
        server:
          name: "Twitter MCP"
          version: "0.1.0"
          transport:
            type: "http"
            http:
              host: ":8080"

        # Twitter configuration
        twitter:
          api_key: "${TWITTER_API_KEY}"
          api_key_secret: "${TWITTER_API_KEY_SECRET}"
          access_token: "${TWITTER_ACCESS_TOKEN}"
          access_token_secret: "${TWITTER_ACCESS_TOKEN_SECRET}"
          bearer_token: "${TWITTER_BEARER_TOKEN}"

service:
  backend:
    controller: application
    type: ClusterIP
    ports:
      http:
        port: 8080
        protocol: TCP

# Some stuff that is not covered by this chart
rawResources:
  twitter-credentials:
    enabled: true
    apiVersion: external-secrets.io/v1beta1
    kind: ExternalSecret
    spec:
      spec:
        refreshInterval: "15s"
        secretStoreRef:
          kind: ClusterSecretStore
          name: gitlab-secret-store
        target:
          name: "{{ .Release.Name }}-twitter-credentials"
        data:
          - secretKey: TWITTER_API_KEY
            remoteRef:
              key: TWITTER_MCP_TWITTER_API_KEY
          - secretKey: TWITTER_API_KEY_SECRET
            remoteRef:
              key: TWITTER_MCP_TWITTER_API_KEY_SECRET
          - secretKey: TWITTER_ACCESS_TOKEN
            remoteRef:
              key: TWITTER_MCP_TWITTER_ACCESS_TOKEN
          - secretKey: TWITTER_ACCESS_TOKEN_SECRET
            remoteRef:
              key: TWITTER_MCP_TWITTER_ACCESS_TOKEN_SECRET
          - secretKey: TWITTER_BEARER_TOKEN
            remoteRef:
              key: TWITTER_MCP_TWITTER_BEARER_TOKEN
