# /etc/systemd/system/frps.service

[Unit]
Description=FRP Server
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target

[Service]
Restart=always
RestartSec=1
User=root

ExecStart=/usr/local/bin/frps -c /root/frps.toml
